{% extends 'userbase.html' %}

{% block content %}
{% if messages %}
{% for msg in messages %}
<script>alert('{{msg}}');</script>
{% endfor %}
{% endif %}
{% if s  %}
<style>
	h3{
		font-family: 'Times New Roman', Times, serif;
		margin-top:20px;
	}
	p{
		font-family: 'Times New Roman', Times, serif;
		margin-top:20px;
		font-weight: bold;
		font-size: large;
	}
</style>
<div class="row" style="margin-top:20px;">
	<div class="col-md-1">                     
		
	</div>
    <div class="col-md-4">                     
		<img src="static/images/paypal.png" alt=" " class="img-responsive">
	</div>
	<div class="col-md-6" style="padding:30px;">

        <form action="#" method="post" class="p-3 shadow" style="margin-top:20px">
            {% csrf_token %}

            <div class="form-group" style="margin-top:20px">
                <input type="text" name="name" class="form-control" value={{s.rid.uid.name}} readonly required>
           </div>
            <div class="form-group" style="margin-top:20px">
                <input type="text" name="card" class="form-control" placeholder="Card Number" maxlength="16" required>
           </div>
           <div class="form-group" style="margin-top:20px">
            <input type="text" name="cvv" class="form-control" placeholder="CVV" maxlength="3" required>
            </div>

            <div class="form-group" style="margin-top:20px">
                <select name="month" class="form-control" style="width:250px;" required>
                    <option>JANUARY</option>
                    <option>FEBRUARY</option>
                    <option>MARCH</option>
                    <option>APRIL</option>
                    <option>MAY</option>
                    <option>JUNE</option>
                    <option>JULY</option>
                    <option>AUGUST</option>
                    <option>SEPTEMBER</option>
                    <option>OCTOBER</option>
                    <option>NOVEMBER</option>
                    <option>DECEMBER</option>
                  </select>
            </div>

            <div class="form-group" style="margin-top:20px">
                <input type="text" name="year" class="form-control" maxlength="4"  placeholder="YEAR" required>
           </div>

           <div class="form-group" style="margin-top:20px">
            <input type="text" name="amount" class="form-control" value={{s.amount}} readonly required>
           </div>
         
                <input type="submit" class="btn btn-success" style="margin-top:20px;margin-left:45%; width:20%;background-color:red">
        
        </form>

		
	</div>
	
	<div class="col-md-1">                     	
	</div>
	<div class="clearfix"></div>

</div>


{% endif %}
{% endblock %}



