{% extends 'adminbase.html' %}
{% block content %}
<style>
    th,
    td {
        padding: 10px;
        color:white;
    }
    th{
        background-color: #01025c;
        color: white;
    }
   h2,h3{
        color:white;
    }
</style>
<center>
    {% if messages %}
    {% for msg in messages %}
    <script>alert('{{msg}}');</script>
    {% endfor %}
    {% endif %}
    <div style="margin: 50px;">
        <hr>
        <h2 style="margin: 10px;">Schedule</h2>
        <hr>
        <form method="POST">
            {% csrf_token %}
            {% if data  %}
            <table>
                <tr>
                    <td>Name</td>
                    <td><input type="text" class="form-control" name="name" value="{{data.uid.name}}" pattern="[a-zA-Z ]+" readonly></td>
                </tr>
               
                              
                <tr>
                    <td>Select Staff</td>
                    <td><select name="staff" class="form-control">
                        {% for s in staff %}
                        <option value={{s.id}}>{{s.name}}</option>
                        {%  endfor %}
                    </select>
                </td>
                </tr>

                <tr>
                    <td>Scheduled Date</td>
                    <td><input type="date" class="form-control" name="dt" required></td>
                </tr>
                
               
                <tr>
                    <td></td>
                    <td><input type="submit" class="btn btn-primary" style="color: white;" value="Register"></td>
                </tr>
            </table>

            {%  endif %}
        </form>
       
    </div>
</center>
<script>
    var msg = "{{msg}}";
    if (msg != "")
        alert(msg)
</script>
{% endblock %}